@model FGCenter.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostDetailViewModel</h4>
    <hr />
    @if(Model.User != null)
    {
        <p>
            <a asp-controller="Comments" asp-route-id="@Model.Post.PostId" asp-action="Create">Submit A Comment</a>
        </p>
    }
    <p>
        <a asp-controller="Games" asp-route-id="@Model.Post.Game.GameId" asp-action="Details">Back</a>
    </p>
    <table class="table">
        <tr>
            <td>
                <img width="30" src="@Html.DisplayFor(modelItem => modelItem.Post.User.ImageUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.DatePosted)
            </td>
            @if (Model.User != null && Model.Post.User.Id == Model.User.Id)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Post.PostId })
                </td>
            }
        </tr>
        <tbody>
            @foreach (Comment p in Model.GroupedComments)
            {
            <tr>
                <td>
                    <img width="30" src= "@Html.DisplayFor(modelItem => p.User.ImageUrl)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.DatePosted)
                </td>
                @if (Model.User != null && p.User.Id == Model.User.Id)
                {
                    <td>
                        <a asp-controller="Comments" asp-action="Edit" asp-route-id="@p.CommentId">Edit</a> |
                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@p.CommentId">Delete</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>

</div>

