@model FGCenter.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostDetailViewModel</h4>
    <hr />
    <p>
        <a asp-controller="Comments" asp-route-id="@Model.Post.PostId" asp-action="Create">Submit A Comment</a>
    </p>
    <table class="table">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Post.DatePosted)
            </td>
        </tr>
        <tbody>
            @foreach (Comment p in Model.GroupedComments)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.DatePosted)
                </td>
                <td>
                    <a asp-controller="Comments" asp-action="Edit" asp-route-id="@p.CommentId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@p.CommentId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.Game.GameId">Back to List</a>
</div>
