@model FGCenter.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostDetailViewModel</h4>
    <hr />
    <table class="table">
        <tbody>
            @foreach (Comment p in Model.GroupedComments)
            {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => p.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.User.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Post.GameId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.PostId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@p.PostId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@p.PostId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.Game.GameId">Back to List</a>
</div>
