@model FGCenter.Models.ViewModels.PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="postboxdiv">
        <table class="postbox">
            
            <tr class="textboxforposts">
                <td class="userbox">
                    <img width="50" src="@Html.DisplayFor(modelItem => modelItem.Post.User.ImageUrl)" />
                    @Html.DisplayFor(modelItem => modelItem.Post.User.UserName)
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => modelItem.Post.User.DateCreated)</small></p>
                </td>
                <td class="postbox1">
                    <h1 class="postheader">
                        @Html.DisplayFor(modelItem => modelItem.Post.Title)
                    </h1>
                    @Html.DisplayFor(modelItem => modelItem.Post.Text)
                </td>

            </tr>
        </table>
        <p>
            @if (Model.User != null)
            {
                <a asp-controller="Comments" asp-route-id="@Model.Post.PostId" asp-action="Create">Submit A Comment</a>

            }
            @if (Model.User != null && Model.Post.User.Id == Model.User.Id)
            {
                <a class="backbutton" asp-controller="Post" asp-route-id="@Model.Post.PostId" asp-action="Edit">Edit</a>
            }
            <a class="backbutton" asp-controller="Games" asp-route-id="@Model.Post.Game.GameId" asp-action="Details">Back</a>
        </p>
    </div>
    <hr style="border-color:white"/>
    <div class="postboxdiv">

            @foreach (Comment p in Model.GroupedComments)
            {
        <table class="postbox">
            <tbody>
                <tr class="textboxforpost">
                    <td class="userbox">
                        <img width="50" src="@Html.DisplayFor(modelItem => p.User.ImageUrl)" />


                        @Html.DisplayFor(modelItem => p.User.UserName)
                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => p.User.DateCreated)</small></p>
                    </td>
                    <td class="postbox1">


                        @Html.DisplayFor(modelItem => p.Text)


                        <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => p.DatePosted)</small></p>

                        @if (Model.User != null && p.User.Id == Model.User.Id)
                        {
                            <a class="userbuttons" asp-controller="Comments" asp-action="Edit" asp-route-id="@p.CommentId">Edit</a>
                            <a class="userbuttons1" asp-controller="Comments" asp-action="Delete" asp-route-id="@p.CommentId">Delete</a>
                        }
                    </td>
                </tr>
            </tbody>
            <hr style="border-color:white" />
        </table>        
            }

    </div>
</div>
