@model FGCenter.Models.ViewModels.GameDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Game.Name)</h1>  <img width="80" src="@Html.DisplayFor(model => model.Game.ImageUrl)" />


<div>
    @if (Model.User != null)
    {
    <hr />
        <p>
            <a asp-controller="Posts" asp-action="Create">Submit A Post</a>
        </p>
    }
    <table class="table">
        <tbody>
            @foreach (var p in Model.PostsWithCommentCount)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.User.UserName)
                </td>
                <td>
                    @if (p.NumberOfComments == 1)
                    {
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@p.Post.PostId"> @Html.DisplayFor(modelItem => p.NumberOfComments) Comment</a>
                    }
                    else
                    {
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@p.Post.PostId"> @Html.DisplayFor(modelItem => p.NumberOfComments) Comments</a>
                    }
                    @if (Model.User != null && p.Post.User.Id == Model.User.Id)
                    {
                        <div>
                            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@p.Post.PostId">Delete</a> |
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@p.Post.PostId">Edit</a>
                        </div>
                    }
                </td>
            </tr>
             }
                
            </tbody>
        </table>
</div>
