@model FGCenter.Models.ViewModels.GameDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameDetailViewModel</h4>
    <hr />
  
    <table class="table">
        <tbody>
            @foreach (Post p in Model.GroupedPosts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.DatePosted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.EditedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.User.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.Game.GameId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@p.PostId">Edit</a> |
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@p.PostId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@p.PostId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
