@model FGCenter.Models.ViewModels.GameDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Street Fighter 5</h1>  <img width="80" src="@Html.DisplayFor(model => model.Game.ImageUrl)" />


<div>
    <hr />
    <p>
        <a asp-controller="Posts" asp-action="Create">Submit A Post</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Post.Title)
                </th>
                <th>
                   Number of Comments
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.DatePosted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Post.User.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.PostsWithCommentCount)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.NumberOfComments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.DatePosted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Post.User.UserName)
                </td>
                <td>
                    <a asp-controller="Posts" asp-action="Edit" asp-route-id="@p.Post.PostId">Edit</a> |
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@p.Post.PostId">View Comments</a> |
                    <a asp-controller="Posts" asp-action="Delete" asp-route-id="@p.Post.PostId">Delete</a>
                </td>
            </tr>
             }
                
            </tbody>
        </table>
</div>
