@model FGCenter.Models.ViewModels.GameIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Games</h1>

<p>
    @if (Model.User != null && Model.User.UserName == "admin@admin.com")
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <tbody>
@foreach (var p in Model.GamesWithPostCount)
{
        <tr>
            <td>
                <img width="60" src="@Html.DisplayFor(modelItem => p.Game.ImageUrl)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.PostCount)
            </td>
            <td>
                @if (Model.User != null && Model.User.UserName == "admin@admin.com")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = p.Game.GameId })
                }

                @Html.ActionLink("Details", "Details", new { id = p.Game.GameId })
            </td>
        </tr>
}
    </tbody>
</table>
