@model FGCenter.Models.ViewModels.GameIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (Model.User != null && Model.User.UserName == "admin@admin.com")
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games.Game.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.Game.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.PostCount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var p in Model.GamesWithPostCount)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => p.Game.Name)
            </td>
            <td>
                <img width="60" src="@Html.DisplayFor(modelItem => p.Game.ImageUrl)" /> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => p.PostCount)
            </td>
            <td>
                @if(Model.User != null && Model.User.UserName == "admin@admin.com")
                {
                  @Html.ActionLink("Edit", "Edit", new { id = p.Game.GameId }) 
                }

                @Html.ActionLink("Details", "Details", new { id= p.Game.GameId }) 
            </td>
        </tr>
}
    </tbody>
</table>
